<div>
  tesing demo page
  <span> select your color </span> :
  {% if section.settings.colorId %}
  <p style="color: {{ section.settings.id }}" >{{ section.settings.colorId }} </p>
  {% endif %}
</div>